.First{
 margin: 0px 500px 0px 10px;

 background-color: rgb(6, 130, 22);
 border: 10px;
 border-style:solid;
 padding: 20px;
 border-color: rgb(5, 1, 1);

}
div{
    height: 200px;
    width: 200px;
}
.second{
background-color: rgb(232, 219, 37);
   border-top: 20px;
   border-left: 10px;
   border-right: 10px;
   border-bottom: 20px;
   padding: 20px;
   border-color: rgb(6, 16, 16);
   border-style: solid;
   margin-left: 270px;
}
.third{
    background-color: palevioletred;
    border-style: solid;

}

